# OS
Thumbs.db
.DS_Store

# Editor
.vscode/

# Logs
application/logs/*
!application/logs/index.html

# Cache
application/cache/*
!application/cache/index.html

# Session
application/cache/sessions/*

# Folder backup (jangan di-commit)
backup_pertemuan4/
backup_final_pertemuan4/
backup_pertemuan5_6/